.header-image .mat-icon {
    font-size: 3rem;
}

.sidenav-user-image {
    height: 3rem;
    width: 3rem;
}

.sidenav-toolbar {
    height: 108px !important;
    /* background-color: #00BBD3; */
    /* background-image: url('../../../assets/img/landscape1.jpg'); */
    background-image: url('../../../assets/img/day1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav-toolbar a {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}


/* .mat-card-header {
    align-items: center;
    background-image: url('../../../assets/img/landscape1.jpg');
} */

.mat-card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.mat-card-subtitle {
    margin: 0 !important;
}