mat-card.image-list-card {
    padding: 0 !important;
}

mat-grid-tile a {
    text-decoration: none;
}

.no-image-icon {
    font-size: 400px;
    color: lightgray;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    rotation: -30deg;
    width: 25vw;
}