<mat-grid-list *ngIf="!(spinnerSrv.display|async)" [cols]="cols" [rowHeight]="rowHeight" gutterSize="4px" [ngStyle]="{'display': display}">
    <mat-grid-tile *ngFor="let image of images | filterBy: search | orderBy: sortBy: order">
        <a [routerLink]="['/images', image.id]">
            <mat-card class="image-list-card">
                <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>{{ image.name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="image.url" alt="image">
            </mat-card>
        </a>
    </mat-grid-tile>
</mat-grid-list>

<app-empty-gallery *ngIf="!totalImages && !(spinnerSrv.display|async)"></app-empty-gallery>

<button mat-fab class="md-fab-bottom-right" routerLink="/upload">
    <mat-icon  aria-label="subir imagen">add</mat-icon>
</button>