// FUENTES:
// https://material.angular.io/guide/theming
// https://www.youtube.com/watch?v=kHbMm7psBag
// https://coursetro.com/posts/code/116/Create-your-own-Angular-5-Material-Theme
// https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
// https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// https://medium.com/covalent-ui/angular-material-2-theme-tutorial-2f7e6c344006
@import '~@angular/material/theming';
@import './sidenav-list-theme';
@include mat-core();
$custom-primary: mat-palette($mat-teal, 500);
$custom-accent: mat-palette($mat-lime);
$custom-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@mixin custom-theme($theme) {
    @include sidenav-list-theme($theme);
}

@include angular-material-theme($custom-theme);
@include custom-theme($custom-theme);

/* Define an alternate DARK THEME*/

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.alternative {
    @include angular-material-theme($dark-theme);
}