@import '~@angular/material/theming';
@mixin sidenav-list-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    mat-nav-list {
        [mat-list-item].active {
            color: mat-color($primary, default);
            mat-icon[mat-list-avatar] {
                background-color: mat-color($primary);
                color: mat-color($primary, default-contrast);
            }
            mat-icon {
                color: mat-color($primary, default);
            }
        }
    }
    .alternative mat-sidenav .sidenav-toolbar {
        background-image: url('../../assets/img/night7.png');
    }
    // .ml-file-list {
    //     border-bottom: 1px solid mat-color($foreground, divider);
    // }
    // .ml-file-list-item {
    //     &:hover,
    //     &:active,
    //     &:focus {
    //         background-color: mat-color($background, hover);
    //     }
    //     &.selected {
    //         background-color: mat-color($primary, lighter, 0.5);
    //         color: mat-color($foreground, text);
    //     }
    // }
}