@import '~@angular/material/theming';
@mixin ml-file-tree-theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    .mat-list-item.active {
        color: mat-color($primary, default);
    }
    .mat-list-item.active .mat-icon {
        color: mat-color($primary, default);
    }
    // .ml-file-list {
    //     border-bottom: 1px solid mat-color($foreground, divider);
    // }
    // .ml-file-list-item {
    //     &:hover,
    //     &:active,
    //     &:focus {
    //         background-color: mat-color($background, hover);
    //     }
    //     &.selected {
    //         background-color: mat-color($primary, lighter, 0.5);
    //         color: mat-color($foreground, text);
    //     }
    // }
}