<div fxLayoutAlign="center">
    <mat-card fxLayout="column" fxFlexAlign="center center" fxFlex="100" fxFlex.sm="65" fxFlex.gt-sm="40">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="icon-32">info_outline</mat-icon>
            </div>
            <mat-card-title>{{ 'empty_images.title' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'empty_images.subtitle' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <div style="margin: 5rem auto 0">
            <img mat-card-image class="no-image-icon" src="assets/img/broken-file-icon-hi.png" alt="image">
        </div>
    </mat-card>
</div>