<div fxLayoutAlign="center">
    <mat-card fxLayout="column" fxFlex="100" fxFlex.sm="65" fxFlex.gt-sm="50">
        <form autocomplete="off" novalidate [formGroup]="resetForm" (submit)="resetPassword(resetForm.value.email)">
            <mat-card-content>
                <mat-card-title>
                    {{ 'auth.reset_pwd.title' | translate }}
                </mat-card-title>
                <mat-input-container class="full-width-input">
                    <input matInput [placeholder]="'auth.input.email' | translate" name="email" formControlName="email">
                    <mat-error>
                        {{ 'validation.email' | translate }}
                    </mat-error>
                </mat-input-container>
            </mat-card-content>
            <div align="end">
                <button type="submit" color="primary" mat-raised-button [disabled]="!resetForm.valid">
                    {{ 'auth.reset_pwd.button' | translate }}
                </button>
            </div>
        </form>
    </mat-card>
</div>