<div fxLayoutAlign="center">
    <mat-card fxLayout="column" fxFlex="80">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Aplicación web de una sóla página sobre Galería de Imágenes </mat-card-title>
            <mat-card-subtitle>Gallery SPA (Single Page Application)</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/angularF.jpg" alt="When Angular meets Firebase">
        <mat-card-content>
            <p>
                Aplicación Web para mostrar una galería de imágenes.
            </p>
            <p>La aplicación te permite registrarte, iniciar sesión y subir las imágenes que quieras</p>
            <p>Como Back-End usa <strong>Firebase</strong>
                <a class="no-style" href="https://firebase.google.com/?hl=es-419" target="_blank">
                    <md-icon class="icon-info" color="primary">info</md-icon>
                </a>
                un servidor web en tiempo real basado en NoSQL.</p>
        </mat-card-content>

    </mat-card>
</div>