.card-header-image {
    background-size: cover;
    height: 6rem;
    width: 6rem;
    border: 1px solid grey;
}

mat-card-subtitle.lastLogin {
    display: flex;
    align-items: center;
}

mat-card-subtitle.lastLogin mat-icon {
    margin-right: 0.3rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
}