<button mat-icon-button [matMenuTriggerFor]="sortMenu" *ngIf="display">
    <mat-icon>sort</mat-icon>
</button>
<mat-menu #sortMenu="matMenu">
    <button mat-menu-item (click)="orderBy('createdAt')" *ngIf="imageService.sortBy | async; let data;">
        {{ 'main.sortBy.date' | translate }}
        <mat-icon>
            {{ (data.sortBy =="createdAt" && data.order =='') ? 'arrow_drop_down' : 'arrow_drop_up'}}
        </mat-icon>
    </button>
    <button mat-menu-item (click)="orderBy('originalName')" *ngIf="imageService.sortBy | async; let data;">
        {{ 'main.sortBy.name' | translate }}
    <mat-icon>
        {{ (data.sortBy =="originalName" && data.order =='')  ? 'arrow_drop_up' : 'arrow_drop_down'}}
    </mat-icon>
</button>
</mat-menu>